<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis_test.mapper.WebsiteMapper">
    <resultMap id="result" type="com.example.mybatis_test.entity.Website">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="alexa" jdbcType="INTEGER" property="alexa" />
        <result column="country" jdbcType="VARCHAR" property="country" />
    </resultMap>

    <select id="findAllWebsite" resultType="com.example.mybatis_test.entity.Website">
        select  * from websites;
    </select>

    <select id="findWebsiteById" resultType="com.example.mybatis_test.entity.Website">
        select * from websites where id=#{id};
    </select>
</mapper>
